<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.biomaterials.cellsorter" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".ActivityHome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UnprocessedImgView"
            android:label="@string/title_activity_unprocessed_img_view" >
        </activity>
        <activity
            android:name=".ActivityParameters"
            android:label="@string/title_activity_parameter_view" >
        </activity>
        <activity
            android:name=".ActivityImagePicker"
            android:label="@string/title_activity_image_picker" >
        </activity>
        <activity
            android:name=".ActivityPreview"
            android:label="screen_slide_pager_activity" >
        </activity>
        <activity
            android:name=".ActivityResults"
            android:label="@string/title_activity_activity_results" >
        </activity>
        <activity
            android:name=".ActivitySubdivide"
            android:label="@string/title_activity_activity_subdivide" >
        </activity>
    </application>

</manifest>
